/* Buttons */
.btn{
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  background-color: white;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.btn-inactive{
  opacity: 0.5;
}
.btn-search{
	background-color: #DB532D;
	color:#fff;
	padding: 6px 80px;
  width:auto;

}
.btn-search span{
  background: #DB532D url('../images/lupa.jpg') no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 100px;
  
}
.btn-warning{
  color:#DB532D;
  border-color:#DB532D;
}

.toolbox__controlls{
  float:right;
}
/* END Buttons */

/*filter options*/
.table-filter__lbl-drop{
  display: inline-block;
  position: relative;
  padding-left: 70px;
  border-radius: 10px;
}

.table-filter__lbl-drop label{
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 15px;
  color: lightgray;
}

.table-filter{
	float:right;
}
.table-filter .form__component{
  width:auto;
  border:none;
  font-weight: bold;
  margin: 0px;
}
.table-filter__lbl-drop{
  border:1px solid #cecece;
  margin-right: 20px;
}
.table-filter__lbl-drop:nth-child(2){
  padding-left:50px;
  margin-right: 0px;
}
/* END filter options*/


.form__component{
  width: 300px;
  margin-right: 18px;
  height: 54px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
  border: 1px solid #d4d4d4;
}

.form__component--last:hover{
  border-color:coral;
}

.form__component.form__component--last{
  margin-right: 0px;
  padding-left: 90px;
}

[data-editable] input {
height:16px;
}