/*move to normalize.css*/
.container header{
	width:100%;
	background-color:coral;
	margin-bottom: 30px;
}

.container > section{
  width: 1265px;
	margin:0px auto;
  padding-bottom: 50px;
}

/*media*/
@media only screen and (max-width: 996px) {
 .container > section, .container .search__wrapper{
		width:100%;
 }
}
@media only screen and (max-width: 550px) {
.form__component{
		width:100%;
		box-sizing: border-box;
 }
}