/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: gray;
    font-size: 1em;
    line-height: 1.4;
		font-family:'Lato', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul{
	padding:0px;
	margin:0px;
	list-style: none;
}
a{
	text-decoration: none;
  color: gray;
}
.toolbox{
    float: right;
}
.toolbox__date{
  float:left;
}
.toolbox__date input{
  width:145px;
  height: 21px;
}
.th__tools{
	width:100px;
}
.table__title{
  float: left;
  font-size: 20px;
  padding-top: 12px;
}

.container > section table{
	width:100%;
}

.tbl-row__header{
  padding: 15px 0px;
  border-bottom: 1px solid #cecece;
}

.tbl-row__content{
  padding: 20px 0px;
  border-bottom: 1px solid #cecece;
  margin-bottom: -1px;
}
.employee-tbl {
  margin-bottom:60px;
}
.employee-tbl__header ul {
  padding: 10px 0px;
  background-color: #e3e3e3;
  border-bottom: 1px solid gray;
}
.tbl-row__content.open {
  border-top: 1px solid #DB532D;
  margin-top: -1px;
}
.tbl-row__content.closed{
  display:none;
}
.employee-tbl__header li,
.tbl-row__header li,
.tbl-row__content > li{
  display:inline-block;
  width:16%;
  padding-left:10px;
  box-sizing:border-box;
}
.tbl-row__content li ul li{
  padding-left:0px;
}

/*upping the specificity*/
.employee-tbl__row .tbl-row__header .toolbox,
.tbl-row__content li.row-content__action{
  width:237px;
}
.row-content__action{
  float:right;
}
.toolbox span{
  height: 22px;
  width: 22px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  margin-right: 12px;
  box-sizing: border-box;
}
.toolbox__pencil{
    background: url(../images/pencil.png) no-repeat 2px;
    margin-right: 15px;
}
.toolbox__pencil:hover{
  cursor: pointer;
    border:1px solid #cecece;
}

.toolbox__arrow:hover{
  cursor: pointer;
  border:1px solid #cecece;
}
.toolbox__arrow--open{
    background: url(../images/arrow-up.jpg) no-repeat;
}
.toolbox__arrow--closed{
background: url(../images/arrow-down.jpg) no-repeat 0px 0px;
}
.row-content__action .btn{
  margin-bottom: 20px;
  width: 175px;
  float: right;
  height:46px;
}
.tbl-row__content li {
  padding-bottom: 6px;
}
/* pagination component, should be able to move this one out to its own file if need be */
.pagination{
    text-align: center;
}

.pagination ul li{
display: inline-block;
  text-align: center;
  width: 48px;
  border: 1px solid #cecece;
  border-right: none;
}
.pagination ul li a{
  display: block;
  padding: 10px;
}

.pagination__back{
    border-radius: 4px 0px 0px 4px;
}
.pagination .pagination__forward{
  border-radius:0px 4px 4px 0px;
  border-right:1px solid #cecece;
  margin-left: -1px;
}
.pagination .active a{
  background-color:#e3e3e3;
}
.pagination a:hover{
  background-color:lightgray;  
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}